body{
    margin: 0;
}

.topnav{
    display: flex;
    font-size: 30px;
    background-color: black;
    padding: 20px;
}

.maintitle{
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    text-decoration: none;
    color: white;
}

.nav{
    padding-top: 10px;
    text-decoration: none;
    color: white;
    margin-right: 150px;
}

.nav:hover{
    border-bottom: 5px solid white;
}

.explore{
    margin-right: 20px;
}